

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.container form{
    position: relative;
}

form{
  width: 100%;
  padding: 0px 0;
  font-size: 17px;
  color:#fff;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-header{
    margin: 0 0 3rem;
    padding: 0;
    color: #fff;
    text-align: center;
}

form {
    color: #fff;
}




  
  
  .container-error-message {
    padding: 3px;
  }

  .alert-danger {
    color: #721c24;
    background: #f8d7da;
    border-color: #f5c6cb;
    margin-bottom: 5px;
    margin-top:0px;
  }

  .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    margin-bottom: 5px;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    margin-top:1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
