

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      
    
  
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
  
         
          
          <div class="btn-group me-3">
            
            <div
              class="btn-group"
              ngbDropdown
              role="group"
              aria-label="Button group with nested dropdown"
            >
             
             
            </div>
          </div>
          
         
          
          <div class="btn-group me-3">
            <div
              class="btn-group"
              ngbDropdown
              role="group"
              aria-label="Button group with nested dropdown"
            >
              <button type="button" class="btn btn-outline-danger" ngbDropdownToggle>
                Actividades
              </button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <button ngbDropdownItem routerLink="/incidents">Incidentes</button>
                <button ngbDropdownItem routerLink="/jmeter">Ejecucion_Servicios</button>
                <button ngbDropdownItem routerLink="/canceladaSpn">Canceladas_Spn</button>
              

              </div>
            </div>
            <div
              class="btn-group"
              ngbDropdown
              role="group"
              aria-label="Button group with nested dropdown"
            >
              
              
            </div>
          </div>
          