<div class="container">
    <div class="login">
        <div class="login-triangle"></div>
            
            <h2 class="login-header">Create User</h2>
                
                   <form #userForm="ngForm" class="login-container" (ngSubmit)="addUser(userForm)">               
                    <p><input type="text" name="username"  placeholder="username" [(ngModel)]="userService.selectedUser.username"></p>
                    <p><input type="password" name="password"  placeholder="password" [(ngModel)]="userService.selectedUser.password"></p>
                    <p><select class="border" name="roles"  placeholder="rol" [(ngModel)]="userService.selectedUser.roles">
                                 <option value="U">Usuario</option>
                                 <option value="I">Invitado</option>
                                 <option value="A">Admin</option>
                             </select></p>
                             <p><input type="submit" value="Send"></p>
                    </form>
              </div>
         </div>

